.bannar-container {
    text-align: center;
    background-image: url('./assets/hero-bg.png');
    width: 1400px;
    height: 600px; ;
    margin: auto;
    position: relative;
}
.span a{
position:absolute;
top:450px;
left:45%;
text-decoration: none;
background-color: black;
color: white;
padding: 20px;
}
.lern-more a{
    color: black;
    
}
.why-section-container {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    width: 1140px;
    height: 1550px;
    gap: 10px;
    background: rgba(13, 19, 33, 0.02);
    margin: 50px auto;
}

.why-section {
    text-align: center;
    margin-top: 100px;
    padding: 40px;
}

.cause-container {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    width: 75%;
    margin:auto;
    /* border:1px solid black; */
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(13,19,33,0.0));
    
}

.btn-sec {
    border: 1px solid black;
    padding: 12px;
}

.inspa-section {
    text-align: center;
    margin: 100px auto;
}

iframe {

    border: 0;

    border-radius: 10px;
    margin: 50px 50px;
}

.youtube {
    border: .5px solid black;
    border-radius: 10px;
    margin: 100px auto;
    width: 1140px;
}

.next-section {
    text-align: center;
    margin:  auto 400px;
}

.next-section-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 50px;
    gap: 40px;
    width: 1140px;

}

.flex-1 {
    border-radius: 16px;
    padding: 20px;
    background: rgba(255, 76, 30, 0.05);
}

.flex-2 {
    border-radius: 16px;
    padding: 20px;
    background: rgba(0, 76, 232, 0.05);
}

.flex-3 {
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
    padding: 20px;

}
.support-section{
    text-align: center;
    padding: 60px;
    margin: auto;
    width: 1140px;
    height: 200px;
    background-image: url('/assets/hand-shake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border-radius: 10px;
}
input[type=text]{
    width: 75%;
    padding: 20px;
    border-radius: 5px;
    border: none;
}
input[type=submit]{
    padding: 20px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}
.footer{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 100px auto 0px;
    border-radius: 16px;
    width: 1400px;

background: rgba(13, 19, 33, 0.03);
}
.icon-container{
    display: flex;
    align-items: center;
    gap: 30px;
}
